*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f8f8f8;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background:#fff;
}

/* MENU */
#menu-toggle{
    border:none;
    background:transparent;
    font-size:20px;
    cursor:pointer;
    outline: none;
}

.menu{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:15vw;
}

/* BUSCADOR */
.search{
    width:40vw;
    height:6vh;
    display:flex;
    align-items:center;
    background:#eee;
    padding:5px 10px;
    border-radius:8px;
}

.search input{
    width:36vw;
    height:6vh;
    border:none;
    background:transparent;
    outline:none;
}

/* ICONOS HEADER */
.icons{
    display:flex;
    align-items:center;
    gap:15px;
}

.icons button{
    border:none;
    background:transparent;
    cursor:pointer;
    font-size:20px;
    transform: translateX(60px);
}

.icons i{
    color:#000;
}

/* USER */
.user{
    font-size:0.8rem;
    display:flex;
    align-items:center;
    gap:10px;
}

.user p{
    font-size:0.7rem;
    color:#0c0c0c;
    transform:translateX(47px);
}

.user img{
    width:55px;
    border-radius:50%;
}

/* LAYOUT */
.container{
    display:flex;
}

/* SIDEBAR */

.sidebar ul li a{
display:flex;
align-items:center;
gap:10px;
color:inherit;
text-decoration:none;
width:100%;
}
.sidebar{
    width:220px;
    min-height:100vh;
    background:#fff;
    transition:0.3s;
}

.sidebar.active{
    width:70px;
}

.sidebar.active li span{
    display:none;
}

.sidebar ul{
    list-style:none;
    padding:20px;
}

.sidebar li{
    padding:12px;
    display:flex;
    gap:10px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#eee;
}

/* CONTENIDO */
.main-content{
    flex:1;
    padding:20px;
}

.config-container{
display:flex;
gap:30px;
margin-top:20px;
}


/* MENU CONFIG */

.config-menu{
width:200px;
}

.config-menu ul{
list-style:none;
}

.config-menu li{
padding:10px;
cursor:pointer;
border-radius:6px;
margin-bottom:10px;
}

.config-menu li:hover{
background:#eee;
}


/* CONTENIDO */

.config-content{
flex:1;
}

.seccion{
margin-top: 20px;
margin-bottom:40px;
}

.oculto{
display:none;
}


/* PERFIL */

.perfil-card{
width: 60vw;
display:flex;
margin-top: 30px;
gap:20px;
background:white;
padding:20px;
border-radius:8px;
}

.perfil-card img{
width:15vw;
border-radius:50%;
}

.perfil-form{
width: 20vw;
flex:1;
display:flex;
flex-direction:column;
gap:10px;
}

.perfil-form input{
width: 40vw;
padding:8px;
border:1px solid #ccc;
border-radius:6px;
}


/* TABLA */

.tabla{
width:100%;
margin-top:15px;
border-collapse:collapse;
}

.tabla th,
.tabla td{
padding:10px;
border-bottom:1px solid #ddd;
text-align:left;
}


/* FORM */

.formulario{
margin-top:20px;
background:white;
padding:15px;
border-radius:6px;
display:flex;
flex-direction:column;
gap:10px;
}


/* BOTONES */

.btn-verde{
background:#22c55e;
border:none;
color:white;
padding:8px 14px;
border-radius:6px;
cursor:pointer;
}

.btn-rojo{
background:#ef4444;
border:none;
color:white;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}


/* ALERTAS */

.alerta{
padding:10px;
border-radius:6px;
margin-bottom:10px;
}

.amarillo{
background:#fff3cd;
}

.verde{
background:#d1fae5;
}

.footer{
text-align:center;
padding:10px;
background:#d9d9d9;
}